<%= form_for @event, url: {action: "save"}, html: {class: "form-horizontal"} do |f| %>
  

  	<div class="form-group  <%='has-error' if @event.errors[:name].present? %>">
		<label for="name"  >Name <span class="required">*</span></label>					
		<%= f.text_field :name, :placeholder => "Eg. The Asian Conference on Arts and Humanities", :class => "form-control form-control-square" %>
		<span class="help-block"><%=@event.errors[:name].join(", ") if @event.errors[:name].present? %></span>			
	</div>

	
	<div class="form-group <%='has-error' if @event.errors[:typeId].present? %>">
		<label for="typeId" >Type <span class="required">*</span></label>					
		<%= f.select :typeId,   options_from_collection_for_select(@types, 'id', :name_for_select,@SelecttypeId) , {}, { :class => 'form-control form-control-square' } %>
		<span class="help-block"><%=@event.errors[:typeId].join(", ") if @event.errors[:typeId].present? %></span>
	</div>

	<div class="form-group <%='has-error' if @event.errors[:categoryId].present? %>">
		<label for="categoryId" >Category <span class="required">*</span></label>					
		<%= f.select :categoryId,   options_from_collection_for_select(@categories, 'id', :name_for_select, @SelectcategoryId) , {}, { :class => 'form-control form-control-square' } %>
		<span class="help-block"><%=@event.errors[:categoryId].join(", ") if @event.errors[:categoryId].present? %></span>
	</div>


  	<div class="form-group <%='has-error' if @event.errors[:organizer].present? %>">
		<label for="organizer" >Organizer <span class="required">*</span></label>					
		<%= f.text_field :organizer, :placeholder=> "Eg. IAFOR - The International Academic Forum", :class => "form-control form-control-square" %>			
		<span class="help-block"><%=@event.errors[:organizer].join(", ") if @event.errors[:organizer].present? %></span>		
	</div>	

  	<div class="form-group <%='has-error' if @event.errors[:officalWebsite].present? %>">
		<label for="officalWebsite" >Offical Website <span class="required">*</span></label>					
		<%= f.text_field :officalWebsite, :placeholder=> "Eg. http://acah.iafor.org/", :class => "form-control form-control-square" %>	
		<span class="help-block"><%=@event.errors[:officalWebsite].join(", ") if @event.errors[:officalWebsite].present? %></span>				
	</div>

	<div class="form-group <%='has-error' if @event.errors[:description].present? %>">
		<label for="description" >Description</label>					
		<%= f.text_area :description, :rows => 5 , :placeholder=> "Eg. Enter a short description", :class => "form-control form-control-square" %>	
		<span class="help-block"><%=@event.errors[:description].join(", ") if @event.errors[:description].present? %></span>				
	</div>	

	<div class="form-group <%='has-error' if @event.errors[:specialNotes].present? %>">
		<label for="specialNotes" >Special Notes</label>	
		<p class="help-block"><small>Use this field to specify special notes about your event. Leave this field as empty if it is not applicable to your event.</small></p>				
		<%= f.text_area :specialNotes , :rows => 5 , :placeholder=> "Eg.  Enter important text such registation, last date of submition ect.", :class => "form-control form-control-square"%>	
		<span class="help-block"><%=@event.errors[:specialNotes].join(", ") if @event.errors[:specialNotes].present? %></span>				
	</div>		


     <div class="form-group">
		<label for="categoryId">Tags</label>
		<div>
			<p><small>Use tags to quickly tell readers what a event is about. Tags also make it easier for people to find your content. At maximum 5 tags are allowed.</small></p>
		</div>

		<select class="multiple_tags" name="multiple_tags[]" multiple="true" width="100%">
			<optgroup label="Mathematics">
				<option value="analysis">Analysis</option>
				<option value="algebra">Linear Algebra</option>
				<option value="discrete">Discrete Mathematics</option>
				<option value="numerical">Numerical Analysis</option>
				<option value="probability">Probability Theory</option>
			</optgroup>
			<optgroup label="Computer Science">
				<option value="programming">Introduction to Programming</option>
				<option value="automata">Automata Theory</option>
				<option value="complexity">Complexity Theory</option>
				<option value="software">Software Engineering</option>
			</optgroup>
		</select>

	</div>

     <div class="form-group <%='has-error' if @event.errors[:startDate].present? %>">
     	<label for="startDate" >Event Start Date <span class="required">*</span></label>
     	<div>
     		<%=  f.date_select :startDate, :class => "form-control form-control-square" %>	
     	</div>
				<span class="help-block"><%=@event.errors[:startDate].join(", ") if @event.errors[:startDate].present? %></span>			
	 </div>

	 <div class="form-group <%='has-error' if @event.errors[:endDate].present? %>">
     	<label for="endDate" >Event End Date <span class="required">*</span></label>
		  <div>
		  	<%=  f.date_select :endDate, :class => "form-control form-control-square" %>	
		  </div>
		  <span class="help-block"><%=@event.errors[:endDate].join(", ") if @event.errors[:endDate].present? %></span>			
	 </div>


	 <div class="form-group <%='has-error' if @event.errors[:startTime].present? %>">
     	<label for="startTime" >Event Start Time <span class="required">*</span></label>
		  <div>
		  	<%=  f.time_select :startTime, {:ampm => true}, :class => "" %>	
		  </div>
		  <span class="help-block"><%=@event.errors[:startTime].join(", ") if @event.errors[:startTime].present? %></span>			
	 </div>


	 <div class="form-group <%='has-error' if @event.errors[:endTime].present? %>">
     	<label for="endTime" >Event Start Time <span class="required">*</span></label>
		  <div>
		  	<%=  f.time_select :endTime, {:ampm => true}, :class => "" %>	
		  </div>
		  <span class="help-block"><%=@event.errors[:endTime].join(", ") if @event.errors[:endTime].present? %></span>			
	 </div>	 


  	<div class="form-group <%='has-error' if @event.errors[:contactPerson].present? %>">
		<label for="contactPerson" >Contact Person <span class="required">*</span></label>					
		<%= f.text_field :contactPerson , :placeholder => "Eg. Mr. John Augustine", :class => "form-control form-control-square" %>	
		<span class="help-block"><%=@event.errors[:contactPerson].join(", ") if @event.errors[:contactPerson].present? %></span>			
	</div>


	<div class="form-group">
		<label for="contactNumber" >Contact Number</label>					
		<%= f.text_field :contactNumber , :placeholder => "Eg.  9876543210", :class => "form-control form-control-square" %>	
		<span class="help-block"><%=@event.errors[:contactNumber].join(", ") if @event.errors[:contactNumber].present? %></span>				
	</div>

	<div class="form-group <%='has-error' if @event.errors[:contactEmailId].present? %>">
		<label for="contactEmailId" >Contact Email <span class="required">*</span></label>					
		<%= f.text_field :contactEmailId , :placeholder => "Eg. john.aug@acah.org", :class => "form-control form-control-square" %>		
		<span class="help-block"><%=@event.errors[:contactEmailId].join(", ") if @event.errors[:contactEmailId].present? %></span>				
	</div>

	<%= fields_for @address do |a| %>
		<div class="form-group address-wrapper">
			<label for="addressLine1:" >Address Line 1</label>					
			<%= a.text_field :addressLine1 , :class => "form-control form-control-square" %>			
		</div>

		<div class="form-group address-wrapper">
			<label for="addressLine2:" >Address Line 2</label>					
			<%= a.text_field :addressLine2 , :class => "form-control form-control-square" %>			
		</div>

		<div class="form-group address-wrapper <%='has-error' if @address.errors[:city].present? %>">
			<label for="city:" >City / Province / Town <span class="required">*</span></label>					
			<%= a.text_field :city , :class => "form-control form-control-square" %><span class="help-block"><%=@address.errors[:city].join(", ") if @address.errors[:city].present? %></span>			
		</div>

		<div class="form-group address-wrapper">
			<label for="stateId:" >State</label>					
			<%= a.text_field :state , :class => "form-control form-control-square" %>			
		</div>

		<div class="form-group address-wrapper <%='has-error' if @address.errors[:postalCode].present? %>">
			<label for="postalCode:" >Postal Code <span class="required">*</span></label>					
			<%= a.text_field :postalCode , :class => "form-control form-control-square" %>			
			<span class="help-block"><%=@address.errors[:postalCode].join(", ") if @address.errors[:postalCode].present? %></span>	
		</div>

		<div class="form-group address-wrapper <%='has-error' if @address.errors[:countryId].present? %>">
			<label for="countryId:" >Country <span class="required">*</span></label>					
			<%= a.select :countryId,   options_from_collection_for_select(@country, 'id', :name_for_select,@SelectcountryId) , {}, { :class => 'form-control form-control-square' } %>	
			<span class="help-block"><%=@address.errors[:countryId].join(", ") if @address.errors[:countryId].present? %></span>			
		</div>

	<% end%>
	

	

	<div class="form-group">
		<div >
			<a href="/event/add"  class="btn btn-square btn-primary">Reset</a>
			<button type="submit" class="btn btn-square btn-primary">Preview</button>
			<%= f.submit "Submit" , :class => "btn btn-square btn-primary" %>		
		</div>
	</div>


<% end %>


