<!DOCTYPE html>
<html>
<head>
  <title>KuviyalEvent</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag  "application", "bootstrap", "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css",  "//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css", "bootflat", "bootflat-extensions",  "bootflat-square", "select2", :media => "all" %>

	  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	  <!--[if lt IE 9]>
	    <script src="js/html5shiv.js"></script>
	    <script src="js/respond.min.js"></script>
	  <![endif]-->

  <%= csrf_meta_tags %>
</head>
<body >

<%= render :partial => "layouts/search" %>
<%= render :partial => "layouts/message-alert" %>

<%= yield %>

<%= render :partial => "layouts/footer-menu" %>



<%= javascript_include_tag "//code.jquery.com/jquery-1.10.2.min.js", "//code.jquery.com/ui/1.10.3/jquery-ui.js" , "application", "jquery.placeholder.min",  "bootstrap.min" ,"select2.min" , "jquery.bootstrap.wizard.min" %>


<script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
<script>
        tinymce.init({
        	selector:'textarea',
        	height : 150,
        	width:"99%",
        	menubar:false,
        	plugins: "link",
        	placeholder: "Hi",
    		statusbar: false,
    		toolbar: "bold italic | link  | undo redo | bullist numlist", 
    		content_css: "/assets/tinymce.css"
        });
</script>

<!-- Search Placeholder Animation -->
<script>
	$(document).ready(function()  {
		$('input, textarea').placeholder();        
	});
	function changePlaceholder() {
		$('#searchBox').attr('placeholder', placeHolders[x]);
		x++;
		if(x >= placeHolders.length) {
			x = 0;
		}	
		setTimeout('changePlaceholder()', 3000);
	}
	var placeHolders = new Array(),
	x = 0;
	placeHolders[0] = "Search by keyword E.g. hackathon";
	placeHolders[1] = "Search by title E.g. 0lympics 2016";
	placeHolders[2] = "Search by place E.g. @chennai";
	placeHolders[3] = "Search by category E.g. [conference]";
	
	t = setTimeout('changePlaceholder()', 2000);

</script>
<!--[if lte IE 9 ]>
	<script>
		clearTimeout(t);
	</script>
<![endif]-->
<!-- / end of search Placeholder Animation -->

 <!-- Init tool tip -->
  <script type="text/javascript">
	$(document).ready(function() {
		$(".btn").tooltip();
	});
  </script>





</body>
</html>
